<div class="nav-wrap">
	<nav class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="height">
						<a class="logo" href="/">{% asset consulting-logo.svg %}</a>
						<ul class="full-nav">
							<li><a href="/why">Why <span class="d-md-none d-lg-inline">My Service</span></a><div class="line"></div></li>
							<!-- <li><a href="#">Case Studies</a><div class="line"></div></li> /-->
							<li><a href="/contact">Contact</a><div class="line"></div></li>
							<li class="icon">
								<a href="https://www.linkedin.com/in/trevorsorel/" target="_blank">
									<i class="fab fa-linkedin"></i>
								</a>
								<div class="line"></div>
							</li>
						</ul>
						<div class="mobile-nav-toggle" data-nav-toggle>
							<i class="fas fa-bars"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>