.component.modal {
	background: rgba(0, 0, 0, .25);

	.box {
		width: 100%;
		max-width: 500px;
		background: white;
		position: fixed;
		top: -25%;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 4px;
		box-shadow: 0 0 4px $gray-250;
		padding: $spacing-8;
		transition: 800ms top;
	} 
}