form {
	padding: $spacing-6;
	border-radius: $spacing-base;
	box-shadow: 1px 1px $spacing-base $gray-700;

	input, textarea {
		width: 100%;
		padding: $spacing-base $spacing-2;
		color: $font-color;
		font-weight: 200;
		border: 1px solid $gray-250;
		transition: border-color 400ms;

		&:focus {
			border-color: $red-100;			
		}
	}

	.btn {
		max-width: $spacing-30;
	}
}