body {
	color: $gray-400;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: 100;
	color: $font-color;
	padding: 0;

	@media screen and (max-width: $screen-sm) {
		text-align: center;
	}
}

h1 {
	&.feature-text {
		line-height: 50px;
		font-size: 2.7em;

		@media screen and (max-width: $screen-xl) {
			font-size: 2.5em;
			line-height: 50px;
		}

		@media screen and (max-width: $screen-lg) {
			font-size: 1.8em;
			line-height: 40px;
		}

		@media screen and (max-width: $screen-md) {
			font-size: 1.8em;
			line-height: 35px;
		}
	}
}

h3 {
	margin: 0 0 $spacing-2 0;
}

a, a:hover {
	color: inherit;
	text-decoration: none; 
}

p {
	font-weight: 200;
	margin: 0;

	&.large {
		font-size: $font-large;
	}
}

.alegra {
	font-family: alegreya-sans-sc, sans-serif;
	font-style: normal;
	font-weight: 200;
}