---
title: home
layout: default
---
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row">
					<div class="col-lg-4 col-sm-5 col-xs-6 d-none d-sm-block">
						<div class="frame">
							{% asset profile-square.jpg class="profile-pic" %}
						</div>
					</div>
					<div class="col-lg-7 offset-lg-1 col-sm-7">
						<h1 class="feature-text">
							I provide <strong>software solutions</strong> for <strong> marketing departments</strong> in <strong>small</strong> to <strong>mid-sized businesses</strong>.
						</h1>
						<hr class="hero-highlight">
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% include/components/divider.html text="learn more" %}
<section class="bg-gray">
	<div class="container">
		{% include molecules/header.html text="Services" %}
		<div class="row">
			<div class="col-sm-12 col-md-10 offset-md-1">
				<div class="row">
					<div class="col-sm-6 margin-vertical-4">
						<h3>Component System Consultation</h3>
						<p>
							A good component system provides a framework of reusable pieces that designers and developers can deploy on a site, improving the speed of content delivery. I can help to implement such a system on your website.
						</p>
					</div>
					<div class="col-sm-6 margin-vertical-4">
						<h3>Design System Consultation</h3>
						<p>
							A design system helps designers iterate quickly in developing new content, while providing a cohesive look and feel across web properties. It also facilitates the use of a component system in the codebase, further improving delivery efficiency. Working with designers, I can facilitate the creation of such a system.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 margin-vertical-4">
						<h3>Advanced Design Implementation</h3>
						<p>
							Have an ambitious landing page you want built? One with tricky responsive elements, animated components, or app-like functionality? I can help with that.
						</p>
					</div>
					<div class="col-sm-6 margin-vertical-4">
						<h3>Advanced Search Functionality</h3>
						<p>
							Using tools like Algolia and Lunr, I can help you set up advanced (and customized) search functionality on your website. Responsive full page search results for your blog or documentation are no problem.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 margin-vertical-4">
						<h3>Advanced Analytics Configuration</h3>
						<p>
							Need custom event tracking that goes beyond clicks or pageviews? Perhaps you need a systematized analytics framework for tracking various events on your web properties. I can provide consultation for, and implement, such a system.
						</p>
					</div>
					<div class="col-sm-6 margin-vertical-4">
						<h3>A/B Testing Implementation</h3>
						<p>
							Using tools like optimizely, I can help you configure A/B tests that will allow you to quantify the efficacy of changes you've made on your website, and how the impact your funnel and lead generation.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 margin-vertical-4">
						<h3>Dynamic Content Creation</h3>
						<p>
							I can create a framework for modifying your content based on the type of user. Want users from a specific ad campaign to see different content? No problem.
						</p>
					</div>
					<div class="col-sm-6 margin-vertical-4">
						<h3>Form Handling</h3>
						<p>
							I can set up asyncronous, custom form events to improve the user experience, and add room for additional functionality. 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 margin-vertical-4">
						<h3>Multi Language Support</h3>
						<p>
							I can set up translation tools on your website, enabling multi-language support.
						</p>
					</div>
					<div class="col-sm-6 margin-vertical-4">
						<h3>CMS Consultation</h3>
						<p>
							Looking for a visual interface to make your content more accessible to non-technical stakeholders? I can provide consultation on this, and implement solutions. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include components/cta.html %}

