.molecule.header {
	text-align: center;
	padding: $spacing-12 0;

	&.form-spacing {
		padding: 0 0 $spacing-4 0;
	}

	h2 {
		border-bottom: 1px solid $red-100;
		display: inline-block;
		padding: $spacing-base 0;
	}

	@media screen and (max-width: $screen-sm) {
		padding: ($spacing-12 / 2) 0;
	}
}